{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load product_tags %}


{% block title %}
{% trans "Report" %} | {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Home" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Report Form" %}</li>
        </ol>
    </nav>
{% endblock %}
{% block headertext %}
    {% trans "Report Input" %}
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h3><i class="fas fa-chart"></i> {% trans "Reporting Input" %}</h3>
    </div>

    <div class="card card-body">

        <form method="POST"  enctype="multipart/form-data" action="">
            {% csrf_token %}
            {{form.as_p}}
            {{purchase_form.as_p}}
            {{payment_form.as_p}}
            <input type="submit" class="btn btn-outline-success" >
        </form>

    </div>

{% endblock dashboard_content %}